pandas
chromadb
openai
streamlit
langchain
tiktoken
python-dotenv
numpy
joblib
plotly
matplotlib
requests
beautifulsoup4
faiss-cpu
python-dotenv
sentence-transformers
openpyxl
pypdf
cryptography>=3.1
rank_bm25
crewai
crewai-tools
langchain-community
streamlit_chat
numpy==2.3.0
numba
llvmlite
shap
#python -m pip install google-api-python-client

